In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'F:\work\4.8 热门推荐\04131630.csv')
df

                                     deviceid   itemid  action_type
0        3F6AE062-915C-4652-AFE7-B55093DD710A  1637403            0
1            d628d6669367f687920fcd1830e50b8f  1660115            0
2            e8cd7c322b2bc651a2e3b0a80c0b8747  1660115            0
3            e8cc9ba66d2d340236c7204c3dce58c5  1660115            0
4            721420b023efa2f6056dab726bfde707  1660115            1
...                                       ...      ...          ...
1109601      aacf40016082e2c835d91c0eebe6f7fe  1908028            0
1109602      ff41409addb16bf2919ae1291f6c4620  1908028            0
1109603  DB964D39-943E-4158-8161-94B6DD826637  1908028            0
1109604      b5fe73416a17af8860fa7a2c4867fedf  1908028            0
1109605      33ff496df1a4ba60efe93d78a9f98077  1909124            0

[1109606 rows x 3 columns]

In [4]:
online_rec=['1909466','1909967','1908459','1906379','1908351','1907981','1908359','1909372','1909352','1904156','1909716','1909529','1899039'
            ,'1907650','1908342','1909379','1909390','1909409','1906325','1908214']
downline_rec=["1907650","1888413","1893186","1886371","1886521","1889766","1877220","1887611","1889595""1889776","1891833","1881771","1881778"
            "1887690","1884468","1884459","1885531","1884167","1885017","1881997"]

In [5]:
rec=dict()
read=dict()
with open(r'F:\work\4.8 热门推荐\04131630.csv',encoding='utf_8_sig') as f:
    f.readline()
    for line in f:
        user,item,score=line.strip().split(',')
        rec.setdefault(user,{})
        if score=='1':
            read.setdefault(user,{})
            read[user][item]=score
        else:
            rec[user][item]=score

In [7]:
devices=[]
for user in read.keys():
    if user in rec.keys():
        devices.append(user)
len(devices)

27989

In [15]:
right=0
predict=0
Read=0
for user in devices:
    recommend=online_rec
    rec_un=[]
    for item in recommend:
        if item in rec[user]:
            rec_un.append(item)
    if len(rec_un)>0:
        predict+=len(rec_un)
        Read+=len(read[user])
        for item in rec_un:
            if str(item) in read[user].keys():
                right+=1
precision=right/predict
recall=right/Read
print(right,predict,Read)
print('线上recall=',recall)
print('线上precision=',precision)

12925 86297 75893
线上recall= 0.17030556177776607
线上precision= 0.14977345678297044