In [8]:
import pandas as pd
import numpy as np
data1=pd.read_csv('df10_3_train.csv')
data1.head()

,id,js,fz,temp_max,bc,bc_2,temp,ms,temp_change
0,183.0,182.0,11.351351,500959269.0,-380.0,0.0,223437084.1,0.0,0.000000e+00
1,184.0,183.0,11.520548,500959270.0,-380.0,0.0,212773854.0,1.0,2.000000e-09
2,185.0,184.0,11.597222,500959268.0,-380.0,0.0,222684990.9,2.0,-3.990000e-09
3,186.0,185.0,9.753425,500959267.0,-380.0,0.0,199050736.8,3.0,-2.000000e-09
4,187.0,186.0,11.108108,500959267.0,-380.0,0.0,236974750.6,4.0,0.000000e+00

In [17]:
data1.drop(['id'], axis=1,inplace=True)
data1.tail()

      fz  temp_max  bc_2  ms
1942 NaN       NaN   NaN NaN
1943 NaN       NaN   NaN NaN
1944 NaN       NaN   NaN NaN
1945 NaN       NaN   NaN NaN
1946 NaN       NaN   NaN NaN

In [18]:
data2=data1.drop(range(1700,1947),axis=0,inplace=False)
data2

             fz     temp_max  bc_2     ms
0     11.351351  500959269.0   0.0    0.0
1     11.520548  500959270.0   0.0    1.0
2     11.597222  500959268.0   0.0    2.0
3      9.753425  500959267.0   0.0    3.0
4     11.108108  500959267.0   0.0    4.0
5     11.369863  500959268.0   0.0    5.0
6     11.315068  500959269.0   0.0    6.0
7     11.416667  500959267.0   0.0    7.0
8     11.347222  500959268.0   0.0    8.0
9     10.930556  500959266.0   0.0    9.0
10    11.402778  500959270.0   0.0   10.0
11    11.424658  500959269.0   0.0   11.0
12    11.657534  500959270.0   0.0   12.0
13    11.555556  500959267.0   0.0   13.0
14    11.208333  500959270.0   0.0   14.0
15    10.863014  500959269.0  -4.0   15.0
16    11.410959  500959270.0  -4.0   16.0
17    11.378378  500959269.0  -4.0   17.0
18    11.246575  500959270.0  -4.0   18.0
19    11.833333  500959270.0  -4.0   19.0
20    11.347222  500959268.0  -4.0   20.0
21    11.561644  500959269.0  -4.0   21.0
22    11.797297  500959269.0  -4.0   22.0
23    11.337838  500959270.0  -4.0   23.0
24    11.589041  500959267.0  -4.0   24.0
25    11.520548  500959268.0  -4.0   25.0
26    11.694444  500959270.0  -4.0   26.0
27    11.479452  500959270.0  -4.0   27.0
28    11.527027  500959266.0  -4.0   28.0
29    11.410959  500959269.0  -4.0   29.0
...         ...          ...   ...    ...
1670  13.095890  500959269.0 -17.0   80.0
1671  13.178082  500959272.0 -17.0   81.0
1672  13.068493  500959272.0 -17.0   82.0
1673  13.150685  500959272.0 -17.0   83.0
1674  12.986301  500959271.0 -17.0   84.0
1675  11.287671  500959272.0 -17.0   85.0
1676  12.890411  500959272.0 -17.0   86.0
1677  13.027397  500959272.0 -20.0   87.0
1678  12.972222  500959272.0 -20.0   88.0
1679  13.138889  500959272.0 -20.0   89.0
1680  13.027027  500959272.0 -20.0   90.0
1681  12.684932  500959272.0 -20.0   91.0
1682  12.972222  500959272.0 -20.0   92.0
1683  13.125000  500959272.0 -20.0   93.0
1684  13.013514  500959271.0 -20.0   94.0
1685  13.315068  500959272.0 -20.0   95.0
1686  13.041667  500959272.0 -20.0   96.0
1687  13.109589  500959270.0 -20.0   97.0
1688  13.219178  500959272.0 -20.0   98.0
1689  12.930556  500959270.0 -20.0   99.0
1690  13.041096  500959272.0 -20.0  100.0
1691  12.722222  500959271.0 -20.0  101.0
1692  13.305556  500959270.0 -20.0  102.0
1693  12.739726  500959268.0 -20.0  103.0
1694  13.040541  500959272.0 -20.0  104.0
1695  13.222222  500959268.0 -20.0  105.0
1696  13.067568  500959268.0 -20.0  106.0
1697  13.138889  500959270.0 -20.0  107.0
1698  13.027397  500959268.0 -20.0  108.0
1699  12.916667  500959270.0 -20.0  109.0

[1700 rows x 4 columns]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def simple_linear_model(train_data, train_y, val_data, val_y, input_feature):
    reg = LinearRegression()
    reg.fit(train_data.as_matrix(columns=[input_feature]), train_y)
    RMSE = mean_squared_error(
        val_y, reg.predict(val_data.as_matrix(columns=[input_feature]))
    ) ** 0.5
    return RMSE