In [1]:
import pandas as pd
data18=pd.read_csv(r'F:\work\4.20 ctr预估\0418.csv')
data19=pd.read_csv(r'F:\work\4.20 ctr预估\0419.csv')
data20=pd.read_csv(r'F:\work\4.20 ctr预估\0420.csv')
df=pd.concat([data18,data19,data20],axis=0)
df=df.drop(columns=['areacode'])

In [2]:
import pandas as pd
data18=pd.read_csv(r'F:\work\4.20 ctr预估\0418.csv')
data18=data18.drop(columns=['areacode'])
data18

                                     deviceid   itemid  action_type
0            6464714ba822b99e7de5e1c8c6bbd47d  1888525            0
1        D83E5E34-77DF-49D2-8BF6-A724F494A6AF  1888525            0
2            51f550768b75d2bbd36b4d0de918c9a7  1888525            0
3            b79066e68a8c6442dd365a942a6ec279  1888525            0
4            45e3889c922b5c9e15de000390e19ffd  1888525            0
...                                       ...      ...          ...
5363726      ec4cd1bcbe4d52db0001bfddf73e3dc6  1739281            1
5363727      62d43a33050f666ab3f8bc0545ea57df  1739281            0
5363728      7195202f7d2da0dd247e858c52b0d94b  1487421            0
5363729      8183a40ae5e0f0d9b1b139d4701ba9d4  1487421            0
5363730      8183a40ae5e0f0d9b1b139d4701ba9d4  1487421            0

[5363731 rows x 3 columns]

In [29]:
import numpy as np
data=pd.read_csv(r'F:\work\4.20 ctr预估\0418.csv')

In [48]:
province_label_cross=pd.DataFrame(columns=['itemid','ctr','device_cnt','cross_label'])
cross=data.groupby('itemid')['action_type'].agg({'click':'sum','ctr':'count'})
cross['expose']=cross['ctr']-cross['click']
a=cross['click'].mean()
b=cross['expose'].mean()
cross['ctr']=(cross['click']+a)/(cross['expose']+b)
cross2=data.groupby(['itemid']).agg({'deviceid':pd.Series.nunique})
cross=pd.merge(cross,cross2,how='inner',on='itemid')
cross=cross.drop(columns=['click','expose'])
cross['cross_label']='1_搞笑'
cross.rename(columns={'deviceid':'device_cnt'},inplace=True)
cross=cross.reset_index()
province_label_cross=pd.concat([province_label_cross,cross],axis=0)
province_label_cross

D:\anaconda\envs\tfenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

        itemid       ctr device_cnt cross_label
0        30086  0.096967          1        1_搞笑
1        30144  0.096967          1        1_搞笑
2        30308  0.096967          1        1_搞笑
3        30401  0.096967          1        1_搞笑
4        43836  0.096967          1        1_搞笑
...        ...       ...        ...         ...
13692  1946496  0.102126       1407        1_搞笑
13693  1946527  0.075531        396        1_搞笑
13694  1946531  0.085164        460        1_搞笑
13695  1946540  0.068652       1175        1_搞笑
13696  1946776  0.066837        248        1_搞笑

[13697 rows x 4 columns]

In [45]:
province_label_cross=pd.DataFrame(columns=['itemid','ctr','device_cnt','cross_label'])
province_label_cross

Empty DataFrame
Columns: [itemid, ctr, device_cnt, cross_label]
Index: []

In [2]:
user_city=pd.read_csv(r'F:\work\4.20 ctr预估\user_city.csv')
label_score=pd.read_csv(r'F:\work\4.20 ctr预估\用户标签得分.csv')
user_sex=pd.read_csv(r'F:\work\4.20 ctr预估\sex.csv')
area=pd.read_csv(r'F:\work\4.20 ctr预估\2019年省市县区数据Excel(2019年10月更新).csv',encoding='gbk')

In [3]:
df=pd.merge(df,user_city,how='inner',on='deviceid')
df=pd.merge(df,area,how='inner',on='areacode')
first_city=['北京市','上海市','广州市','深圳市','成都市','杭州市','重庆市','武汉市','西安市','苏州市','天津市','南京市',
           '长沙市','郑州市','东莞市','青岛市','沈阳市','宁波市','昆明市',]
second_city=['无锡市','佛山市','合肥市','大连市','福州市','厦门市','哈尔滨市','济南市','温州市','南宁市','长春市','泉州市',
            '石家庄市','贵阳市','南昌市','金华市','常州市','南通市','嘉兴市','太原市','徐州市','惠州市','珠海市','台州市',
            '中山市','烟台市','兰州市','绍兴市','海口市','扬州市']
df['city_level']=df.city.apply(lambda x:1 if x in first_city else 2 if x in second_city else 3)
df=df.drop(columns=['areacode','town','city','area_level'])
df

,deviceid,itemid,action_type,province,city_level
0,6464714ba822b99e7de5e1c8c6bbd47d,1888525,0,浙江省,3
1,6464714ba822b99e7de5e1c8c6bbd47d,1943341,0,浙江省,3
2,6464714ba822b99e7de5e1c8c6bbd47d,1943341,0,浙江省,3
3,6464714ba822b99e7de5e1c8c6bbd47d,1944640,0,浙江省,3
4,6464714ba822b99e7de5e1c8c6bbd47d,1919546,0,浙江省,3
...,...,...,...,...,...
11707683,f09747577848141803785529fd15d69b,1952455,1,吉林省,2
11707684,cee145625c5644eec67520fc5c4d1b4d,1953738,0,青海省,3
11707685,75b0f8a9eb775699609a30ddf711fa74,1952455,0,贵州省,3
11707686,a1f6b1a2d72eb8628233baa50988f794,1952455,0,福建省,3
11707687,5ca89f5be0753d4d95591615bbe69c51,1952455,0,辽宁省,3

In [4]:
df=pd.merge(df,label_score,how='inner',on='deviceid')
df

,deviceid,itemid,action_type,province,city_level,荐车,评测,拍车,新闻政策,知识技巧,...,维修改装,摩旅攻略,骑行,赛事,装备,风景,故事,活动,电摩,搞笑
0,7ebf0505feadec666840417958ff0548,1943341,0,浙江省,3,0.454394,0.441498,0.544247,0.463894,0.385635,...,0.411234,0.438916,0.455292,0.455851,0.399892,0.436184,0.469701,0.471869,0.474679,0.484270
1,7ebf0505feadec666840417958ff0548,1943341,0,浙江省,3,0.454394,0.441498,0.544247,0.463894,0.385635,...,0.411234,0.438916,0.455292,0.455851,0.399892,0.436184,0.469701,0.471869,0.474679,0.484270
2,7ebf0505feadec666840417958ff0548,1943341,0,浙江省,3,0.454394,0.441498,0.544247,0.463894,0.385635,...,0.411234,0.438916,0.455292,0.455851,0.399892,0.436184,0.469701,0.471869,0.474679,0.484270
3,7ebf0505feadec666840417958ff0548,1944640,0,浙江省,3,0.454394,0.441498,0.544247,0.463894,0.385635,...,0.411234,0.438916,0.455292,0.455851,0.399892,0.436184,0.469701,0.471869,0.474679,0.484270
4,7ebf0505feadec666840417958ff0548,1188918,0,浙江省,3,0.454394,0.441498,0.544247,0.463894,0.385635,...,0.411234,0.438916,0.455292,0.455851,0.399892,0.436184,0.469701,0.471869,0.474679,0.484270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9466843,f09747577848141803785529fd15d69b,1952455,0,吉林省,2,0.800000,0.800000,0.800000,0.800000,0.800000,...,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000
9466844,f09747577848141803785529fd15d69b,1952455,0,吉林省,2,0.800000,0.800000,0.800000,0.800000,0.800000,...,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000
9466845,f09747577848141803785529fd15d69b,1952455,1,吉林省,2,0.800000,0.800000,0.800000,0.800000,0.800000,...,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000
9466846,a1f6b1a2d72eb8628233baa50988f794,1952455,0,福建省,3,0.100000,0.100000,0.200000,0.050000,0.100000,...,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
9466847,5ca89f5be0753d4d95591615bbe69c51,1952455,0,辽宁省,3,0.531801,0.842836,0.708976,0.647931,0.875131,...,0.720952,0.737901,0.751554,0.766099,0.747644,0.737901,0.755882,0.766099,0.766099,0.766099

In [ ]:
city_level=[1,2,3]
labels=['荐车', '评测', '拍车', '新闻政策', '知识技巧', '美女', '视频', '生活', '维修改装', '摩旅攻略', '骑行', 
         '赛事', '装备', '风景', '故事', '活动', '电摩', '搞笑']
province_label_cross=pd.DataFrame(columns=['cross_label','itemid','expose','click','device_cnt'])
for level in city_level:
    for label in labels:
        cross_label=str(level)+'_'+label
        data=origin.loc[(origin['city_level']==level)&(origin[label]>=0.5)]
        items=list(data['itemid'].unique())
        for item in items:
            data2=data.loc[data['itemid']==int(item)]
            if len(list(data2.groupby('action_type').count().deviceid))==1:
                expose=list(data2.groupby('action_type').count().deviceid)[0]
                click=0
            else:
                expose=list(data2.groupby('action_type').count().deviceid)[0]
                click=list(data2.groupby('action_type').count().deviceid)[1]
            device_cnt=len(data2['deviceid'].unique())
            new=pd.DataFrame({'cross_label':cross_label,'itemid':item,'expose':expose,'click':click,'device_cnt':device_cnt},index=[1])
            province_label_cross=province_label_cross.append(new,ignore_index=True)
            print(len(province_label_cross))
province_label_cross