In [18]:
import pandas as pd
import re
import numpy as np

In [48]:
car_type_tb=pd.read_csv(r'F:\work\Downloads\query-impala-527999.csv')
car_type_tb

                   goods_name             keywords
0                 Tricker 250           魔术师,雅马哈魔术师
1                  BYQ150T-5F  BYQ150,比亚乔150,台风150
2            500 Nouvo Falcom                  NaN
3                   200 Elite                  NaN
4     GPz 750 Turbo Prototype                  NaN
...                       ...                  ...
9728                  DH125E     豪爵DH125,HJ125-27C
9729                       Z1                  NaN
9730                      FX               FX,zero
9731                   新统御125         五羊本田125,本田统御
9732     Vitpilen 410 Concept                  NaN

[9733 rows x 2 columns]

In [50]:
historial_name_list_kw=[]
historial_name_list_q=[]
new_name_list_kw=[]
new_name_list_q=[]
for i in car_type_tb.index:
    goods_name=car_type_tb['goods_name'][i]
    keywords=car_type_tb['keywords'][i]
    origin_name_list=[]
    origin_name_list.append(goods_name)
    if type(keywords)==str:
        for k in keywords.split(','):
            origin_name_list.append(k)
    for name in origin_name_list:   #kw部分
        nonboard_goods_name=name.replace(' ','').replace('/','').replace('-','').replace('·','').replace('.','')
        lower_goods_name1=nonboard_goods_name.lower()
        lower_goods_name2=name.lower()
        tmp_name_lst=list(set([name,nonboard_goods_name,lower_goods_name1,lower_goods_name2]))
        for j in tmp_name_lst:
            if j not in historial_name_list_kw:
                historial_name_list_kw.append(j)
    for name in origin_name_list:   #q部分
        lower_goods_name=name.lower()
        chinese = re.findall(".*?([\u4E00-\u9FA5]+).*?",lower_goods_name)
        eng=re.findall('[a-zA-Z0-9]+',lower_goods_name)
        eng=[x for x in eng if len(x)>2]
        tmp_name_lst=eng+chinese
        for j in tmp_name_lst:
            if j not in historial_name_list_q:
                historial_name_list_q.append(j)

In [55]:
data1_q=pd.DataFrame(historial_name_list_q,columns=[['motor_words']])
data1_q['type']=1
now_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
data1_q['update_time']=now_time
data1_q

     motor_words type          update_time
0        tricker    1  2021-01-15 11:00:25
1            250    1  2021-01-15 11:00:25
2            魔术师    1  2021-01-15 11:00:25
3         雅马哈魔术师    1  2021-01-15 11:00:25
4        byq150t    1  2021-01-15 11:00:25
...          ...  ...                  ...
7563        t214    1  2021-01-15 11:00:25
7564        land    1  2021-01-15 11:00:25
7565      dh125e    1  2021-01-15 11:00:25
7566       dh125    1  2021-01-15 11:00:25
7567         新统御    1  2021-01-15 11:00:25

[7568 rows x 3 columns]

In [68]:
word_lst=[]
with open(r'C:\Users\JDD\工作文件\user_dict1.txt', 'r',encoding='utf-8') as f:
    for line in f.readlines():
        line = line.strip('\n')
        if line not in word_lst:
            word_lst.append(line)
data=pd.DataFrame(word_lst,columns=[['motor_words']])
data['type']=0    #keywords版本
now_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
data['update_time']=now_time
data2=pd.DataFrame(word_lst,columns=[['motor_words']])
data2['type']=1      #query版本
data2['update_time']=now_time
data2

     motor_words type          update_time
0            ﻿价值    1  2021-01-15 11:07:08
1             过程    1  2021-01-15 11:07:08
2             翻新    1  2021-01-15 11:07:08
3             来袭    1  2021-01-15 11:07:08
4             线圈    1  2021-01-15 11:07:08
...          ...  ...                  ...
2621     QJMOTOR    1  2021-01-15 11:07:08
2622         爱立新    1  2021-01-15 11:07:08
2623         BBG    1  2021-01-15 11:07:08
2624          一铃    1  2021-01-15 11:07:08
2625           零    1  2021-01-15 11:07:08

[2626 rows x 3 columns]

In [1]:
import pandas as pd
import datetime
import sqlalchemy
import pymysql as pymysql

In [74]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:jdd.com@172.16.201.4:6606/motor?charset=utf8')

In [80]:
pd.io.sql.to_sql(data,
              name='motor_user_dict', 
              con=engine, 
              if_exists='append',
              index=False,
              dtype={
                  motor_words:
              })

In [78]:
now_time

'2021-01-15 11:07:08'

In [109]:
conn = pymysql.connect(host='172.16.201.4', port=6606, user='root', passwd='jdd.com', db='motor', charset='utf8')

In [95]:
sql1='''INSERT INTO motor_user_dict VALUES ('宝马', 1,'{}');'''.format(now_time)
sql1

"INSERT INTO motor_user_dict VALUES ('宝马', 1,'2021-01-15 11:07:08');"

In [96]:
cur = conn.cursor()
cur.execute(sql1)

1

In [97]:
sql = """CREATE TABLE motor_user_dict (
     motor_word VARCHAR(30) NOT NULL,
     type INT,
     update_time VARCHAR(30))"""

In [98]:
cur.execute(sql)

0

In [114]:
sql = "INSERT INTO `motor_user_dict` ( `motor_word`, `type`, `update_time`) VALUES ( '宝马', 1, '2021-01-15 11:07:08' )"

In [4]:
class ManipulateMysql:
    """操作MySQL，查询，插入，更新"""

    def __init__(self, mysql_host, mysql_port, mysql_user, mysql_password,
                 mysql_database):  # mysql连接的必要信息，ip，端口号，用户名，密码，数据库
        """初始化mysql连接，并且创建一个cursor，为后续执行"""
        try:
            self._connection = pymysql.connect(host=mysql_host,
                                               port=mysql_port,
                                               user=mysql_user,
                                               passwd=mysql_password,
                                               db=mysql_database,
                                               charset="utf8")
        except:
            print('创建mysql连接失败！请重新尝试！！')
            return None
        else:
            self._cursor = self._connection.cursor()
    def insertDataIntoDatabase(self, sql):
        """向mysql数据库插入数据,注：sql语句拼接时，除了整形或浮点类型数据，类型都可以为字符串（str 或 Unicode）"""
        try:
            records = self._cursor.execute(sql)
        except:
            print(f'向mysql数据库中插入数据失败，请检查sql语句是否正确，sql语句是 {sql}')
        else:
            if records == 0:
                print(f'并未向mysql数据库中插入任何数据,sql语句是 {sql}')
            else:
                print(f'向mysql数据库中插入数据条数为 ==> {records}')
            self._connection.commit()

In [2]:
import pymysql
mysql_host = '172.16.201.4'
mysql_port = 6606
mysql_user = 'root'
mysql_password = 'jdd.com'
mysql_database = 'motor'
charset="utf8"
conn = pymysql.connect(host='172.16.201.4', port=6606, user='root', passwd='jdd.com', db='motor', charset='utf8')
cur=conn.cursor()

In [12]:
def insertDataIntoDatabase(sql):
    """向mysql数据库插入数据,注：sql语句拼接时，除了整形或浮点类型数据，类型都可以为字符串（str 或 Unicode）"""
    try:
        records = cur.execute(sql)
    except:
        print(f'向mysql数据库中插入数据失败，请检查sql语句是否正确，sql语句是 {sql}')
    else:
        if records == 0:
            print(f'并未向mysql数据库中插入任何数据,sql语句是 {sql}')
        conn.commit()

In [13]:
import datetime
now_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
insert_sql = "INSERT INTO `motor_user_dict` ( `motor_word`, `type`, `update_time`) VALUES ( '{}', 1, '{}' )".format('春风',now_time)
insertDataIntoDatabase(insert_sql)

In [125]:
import pymysql as mysqldb
conn = pymysql.connect(host='172.16.201.4', port=6606, user='root', passwd='jdd.com', db='motor', charset='utf8')
cur = conn.cursor()

In [126]:
sql = """CREATE TABLE motor_user_dict (
     motor_word VARCHAR(30) NOT NULL,
     type INT,
     update_time VARCHAR(30))"""
cur.execute(sql)

0

In [120]:
sql = "INSERT INTO `motor_user_dict` ( `motor_word`, `type`, `update_time`) VALUES ( '{}', 1, '{}' )".format('春风',now_time)
cur.execute(sql)

1

In [127]:
cur.close()
conn.close()

In [15]:
"cb 1300s super bol d'or".replace(' ','').replace('/','').replace('-','').replace('·','').replace('.','').replace("'","")

'cb1300ssuperboldor'

In [16]:
import re

In [17]:
def clean_data(data):
    cop = re.compile("[^\u4e00-\u9fa5^a-z^A-Z^0-9]") # 匹配不是中文、大小写、数字的其他字符
    data = cop.sub('', data) #将data中匹配到的字符替换成空字符
    data=data.lower()#小写
    return data

In [19]:
clean_data('春风 250/sr')

'春风250sr'